<div id="<%= dom_id form %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= form.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= form.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Processed in job:</strong>
    <%= form.processed_in_job %>
  </p>

</div>
